#footer{	
	text-align:left;

	div.footer-content{
		padding:50px 0;
		background-color:#158fdb;
		color:white;

		ul{
			padding:0;
			margin: 0;
			list-style-type: none;
			a{
				color:#FFFFFF;	
			}
			a:hover{
				color:#fff40e;
			}
		}
	}

	div.copyrino{
		text-align: center;
		color: #606060;
		background-color:#f6f8fb;
		padding:20px 0;

		a{
			color: #606060;
		}
		a:hover{
			color:#bfbfbf;
		}
	
	}
}


@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
